@page
@model studyset.Areas.Identity.Pages.Account.EditModel

@{
    ViewData["Title"] = "Meu perfil";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/edit.css" asp-append-version="true" />
</head>
<body>
    <div class="mainContainer">
        <form class="edit" asp-page-handler="Edit" method="post">
            <h1>Meu Perfil</h1>
            <a asp-area="Identity" asp-page="/Account/EditPassword">Editar e-mail ou senha</a>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <input type="hidden" asp-for="Input.Id" />

            <div class="form-group">
                <label asp-for="Input.NomeUsuario">Nome</label>
                <input asp-for="Input.NomeUsuario" class="form-control editInput" aria-required="true" placeholder="nome" />
                <span asp-validation-for="Input.NomeUsuario" class="text-danger"></span>
            </div>

            <h2 class="inform">Informe seu tempo de estudo</h2>

            <div class="form-group">
                <label asp-for="Input.TempoEstudo">Tempo disponível (horas)</label>
                <input asp-for="Input.TempoEstudo" class="form-control" />
                <span asp-validation-for="Input.TempoEstudo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.MetaEstudo">Meta de Estudo (horas)</label>
                <input asp-for="Input.MetaEstudo" class="form-control" />
                <span asp-validation-for="Input.MetaEstudo" class="text-danger"></span>
            </div>

            <div class="form-group submit">
                <button class="button" type="submit">salvar</button>
            </div>
        </form>

    </div>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
