@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="mainContainer">
        <form class="login" id="account" method="post">
            <h1>Login</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="form-label">e-mail</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="form-label">senha</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group submit">
                <a class="button" href="@Url.Action("Index", "Home")">Cancelar</a>
                <button id="login-submit" type="submit" class="button">entrar</button>
            </div>
        </form>
    </div>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
