@model studyset.Models.Cronograma

@{
    ViewData["Title"] = "Adicionar novo item";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/agenda.css">
</head>
<body>
    <main>
        <ul id="secondNavbar" class="nav justify-content-md-end justify-content-center">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Agenda" asp-action="Create">
                    <i class="icon fa-regular fa-calendar-days"
                       style="color: #000000"></i>Agenda
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Sessoes" asp-action="Create">
                    <i class="icon fa-regular fa-clock" style="color: #000000"></i>Sessões
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Edit"><i class="icon fa-solid fa-user-pen" style="color: #000000"></i>Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/src/pages/dashboard.html">
                    <i class="icon fa-solid fa-list-check" style="color: #000000"></i>Relatórios
                </a>
            </li>
        </ul>

        <div class="mainContainer">

            <section class="cronogramaSection">
                <h1>Cronograma</h1>

                <form asp-action="Create" class="cronograma-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Adicione os campos para cada dia da semana -->
                    <div class="form-group">
                        <label asp-for="ConteudoEstudo" class="control-label"></label>
                        <textarea asp-for="ConteudoEstudo" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="ConteudoEstudo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DiaEstudo" class="control-label"></label>
                        <select asp-for="DiaEstudo" class="form-control">
                            @foreach (var value in Enum.GetValues(typeof(DiaEstudo)))
                            {
                                <option value="@value">@value</option>
                            }
                        </select>
                        <span asp-validation-for="DiaEstudo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-info">Voltar</a>
                        <input type="submit" value="Salvar" class="btn btn-success" />
                    </div>
                </form>

                <div class="cronogramaList">
                    <div class="day">
                        <h2>Dom</h2>
                        <div class="balloon">
                            <div class="note" contenteditable="true" data-max-words="200"></div>
                            <span><button> <i class="fa-solid fa-plus"></i></button></span>

                        </div>
                    </div>

                    <div class="day">
                        <h2>Seg</h2>
                        <div class="balloon">
                            <div class="note" contenteditable="true" data-max-words="200"></div>
                            <span><button> <i class="fa-solid fa-plus"></i></button></span>
                        </div>
                    </div>

                    <div class="day">
                        <h2>Ter</h2>
                        <div class="balloon">
                            <div class="note" contenteditable="true" data-max-words="200"></div>
                            <span><button> <i class="fa-solid fa-plus"></i></button></span>
                        </div>
                    </div>

                    <div class="day">
                        <h2>Qua</h2>
                        <div class="balloon">
                            <div class="note" contenteditable="true" data-max-words="200"></div>
                            <span><button> <i class="fa-solid fa-plus"></i></button></span>
                        </div>
                    </div>

                    <div class="day">
                        <h2>Qui</h2>
                        <div class="balloon">
                            <div class="note" contenteditable="true" data-max-words="200"></div>
                            <span><button> <i class="fa-solid fa-plus"></i></button></span>
                        </div>
                    </div>

                    <div class="day">
                        <h2>Sex</h2>
                        <div class="balloon">
                            <div class="note" contenteditable="true" data-max-words="200"></div>
                            <span><button> <i class="fa-solid fa-plus"></i></button></span>
                        </div>
                    </div>

                    <div class="day">
                        <h2>Sab</h2>
                        <div class="balloon">
                            <div class="note" contenteditable="true" data-max-words="200"></div>
                            <span><button> <i class="fa-solid fa-plus"></i></button></span>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>
    <script src="https://kit.fontawesome.com/331a34d5ed.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}