@model studyset.Models.Cronograma

@{
    ViewData["Title"] = "Editar cronograma";
}

<h1>Editar cronograma</h1>

<h4>Cronograma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConteudoEstudo" class="control-label"></label>
                <input asp-for="ConteudoEstudo" class="form-control" />
                <span asp-validation-for="ConteudoEstudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaEstudo" class="control-label"></label>
                <input asp-for="DiaEstudo" class="form-control" />
                <span asp-validation-for="DiaEstudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label"></label>
                <select asp-for="AlunoId" class="form-control" asp-items="ViewBag.AlunoId"></select>
                <span asp-validation-for="AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
