.mainContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-transform: lowercase;
}

.mainContainer h1 {
    font-size: var(--titleFontSize);
    font-weight: var(--mediumWeight);
}

.containerAgenda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 250px;
}

/*  CÓDIGO DO CALENDÁRIO*/

.aside {
    width: 50%;
    /*flex: auto;
    text-align: center;
    padding-right: 5rem;*/
}


/*.wrapperCalendario {
    /*width: 450px;
    border-radius: 10px;
    margin-bottom: 0px;
    color: white;
}

.wrapperCalendario .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 15px 0px;
    justify-content: space-between;
    color: black;
    font-weight: bolder;
}*/

    .wrapperCalendario .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.wrapperCalendario .current-date {
    margin-left: 2rem;
    margin-right: 2rem;
}

/*.titulo button {
    height: 30px;
}*/

/*.titulo .icons span {
    height: 38px;
    width: 38px;
    color: gray;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}*/

.wrapperCalendario .icons span {
    cursor: pointer;
}

/*.wrapperCalendario .icons span:hover { /*hover das setinhas de cima do calendario
    color: var(--mediumColor);
}


.wrapperCalendario .icons span:last-child {
    margin-right: -10px;
}*/

.wrapperCalendario .calendar {
    background-color: var(--mediumColor);
    border-radius: 20px;
}

.wrapperCalendario .calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--darkColor);
}

.wrapperCalendario .calendar .days {
    margin-bottom: 20px;
    color: white;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.wrapperCalendario .calendar .weeks li {
    font-weight: var(--mediumWeight);
}

.wrapperCalendario .calendar .weeks {
    background-color: var(--mediumColor);
    padding: 20px;
    /*/width: 430px;*/
    border-radius: 20px;
}

.wrapperCalendario .calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.wrapperCalendario .calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.wrapperCalendario .days li.inactive {
    color: #aaa;
}

.wrapperCalendario .days li.active {
    color: #fff;
}

.wrapperCalendario .calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.wrapperCalendario .days li:hover::before {
    background: #a8a6a6;
}

.wrapperCalendario .days li.active::before {
    background: rgb(127, 105, 224);
}

/* Cronograma começa aqui */

/*.cronogramaSection {
    margin-left: 0.5rem;
}

.cronogramaSection h1 {
    margin-bottom: 1rem;
}

.cronogramaSection .cronogramaList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    min-height: 485px;
}

.cronogramaSection .day {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 0.3rem;*/ /* Preenchimento */
/*background-color: var(--darkColor);
    border-radius: 10px;
    max-width: 400px;
    overflow-x: hidden scroll;
}

.cronogramaSection .day h2 {
    font-weight: var(--mediumWeight);
    text-align: start;
    min-width: 60px;
    min-height: 2rem;
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
    color: var(--darkColor);*/ /* Cor do texto em cinza escuro */
/*background-color: var(--mediumColor);*/ /* Cor de fundo em azul */
/*border-radius: 10px;
}*/

/*.cronogramaSection .balloon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2B2E34;
    color: #fff;
}*/

/*.btn {
    cursor: pointer;
    color: #007bff;
    border: none;
    background: none;
    outline: none;
}*/

/* ESSA CLASSE ENCAPSULA TODA A PARTE DE EVENTOS */


.cronogramaSection .note {
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 5px;
    width: 150px;
    height: 2rem;
    border-radius: 10px; /* Borda arredondada */
    overflow: hidden; /* Adiciona rolagem se o conteúdo exceder a altura */
}

.eventos {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: var(--darkColor);
    border-radius:10px;
}

.novoEvento {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tituloSection {
    font-size: 26px;
    font-family: sans-serif;
    background-color:var(--bgColor);
    padding-left: 5rem;
}

.formContainerGrande {
    display: flex;
    flex-direction: column;
    padding-top:0;
    padding:1rem;
    color: #ffffff;
    width: 400px;
    border-radius: 10px;
}


.formBtn {
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    background-color: #0d6efd;
    border: none;
    color: #fff;
}

.btnArea {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.inputText {
    border-radius: 5px;
    display: block;
    height: 4.5vh;
    width: 100%;
    margin-bottom: 20px;
    border: 0.5px solid #d9d9d9;
    background-color:white;
}

.listaEvento {
    display: flex;
    flex-direction: column;
    width:100%;
}

.listaDetalhes {
   
    height: 36vh;
    overflow: hidden scroll;
    color:#fff;
    border-radius: 5px;
    list-style-type:none;
    margin-left:40px;
    margin-right: 30px;
}
.listaEvento ul {
    list-style: none;
}

.listaEvento h1{
    padding-left: 10rem;
}


.detalhesEvento {
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    color: black;
}

    .detalhesEvento h3 {
        margin-bottom: 5px;
        font-size: 20px;
        font-family: sans-serif;
    }

.modal-content {
    background-color: var(--mediumColor);
}

.botaoDeExcluir {
    background-color: red;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .containerAgenda {
        flex-direction: column;
    }

    .historico {
        width: 90%;
    }
}