/*Páginas Cadastro e Login*/
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: var(--darkColor);
    padding: 2.5rem;
    padding-bottom: 1rem;
    border-radius: 3%;
    color: white;
    width: 400px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.login h1 {
    color: white;
    font-weight: var(--mediumWeight);
    text-align: center;
    margin-bottom: 0.5rem;
}

.login label {
   font-size: var(--mediumFontSize);
   margin-bottom: 0.5rem;
}

    .login input {
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 10px;
        margin-bottom: 1rem;
        height: 2.5rem;
        font-size: var(--smallFontSize);
    }

.login .recSenha {
   color: white;
   font-size: var(--smallFontSize);
   text-decoration: underline;
}

.login .recSenha:hover {
   color: var(--lightColor);
}

.login .recSenha:visited {
    text-decoration: none;
}

    .login .submit {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 1rem;
    }

    .login .button, a.button {
        background-color: var(--mediumColor);
        border: none;
        border-radius: 10px;
        color: white;
        font-size: var(--mediumFontSize);
        margin-left: 1rem;
        padding: 1rem;
        height: 3.5rem;
        width: 6.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
    }

        .login .button:hover {
            background-color: #2471b9;
            cursor: pointer;
        }

    .login .deleteLink {
        display: flex;
        flex-direction: row;
        justify-content: end;
        
    }

    .login a.deleteLink {
        text-decoration: none;
        color: white;
    }

    .login .deleteLink:hover {
        color: red;
    }

/*Página Deletar Cadastro*/
.delete {
    text-align: center;
}

    .delete h1 {
        font-size: var(--largeFontSize);
    }

    .delete .submit {
        justify-content: center;
    }

    .delete .submit #deleteButton:hover {
        background-color: red;
    }