body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.nav-bar,logo, img{
    display: flex;
    height: 30px;
}

.nav-bar{
    background-color: #2B2E34;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    color: white;

}

.wrappernav, wrapper-li, a{
    display:flex ;
    justify-content: space-between;
    list-style: none;
    margin: 0 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.login{
    background-color: #2B2E34;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    color: white;
    height: 40%;
}

login,h1{
    font-size: 15px;
}

login,input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}

login,button{
    background-color: #0D6AAD;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: white;    
}

login,button:hover{
    background-color: #00529D;
    cursor: pointer;
    transition: 1s;
}


