
@{
    ViewData["Title"] = "Sobre";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/root.css" />
    <link rel="stylesheet" href="/css/about.css" />
</head>
<body>
    <section id="sobreContent" class="container text-center mt-4">
        <h1>Sobre o StudySet</h1>
        <div class="col justify-content-center align-items-center text-start mt-3">
            <div class="box container">
                <p>
                    Se você está lendo isso, provavelmente é como eu: precisa dedicar
                    boa parte do seu tempo estudando. Você
                    provavelmente tem várias guias abertas, documentos salvos, agendas, cadernos…
                    Já pensou em uma ferramenta que possa unir tudo isso?
                </p>
                <p>
                    O StudySet buscar otimizar o seu tempo e trazer mais praticidade,
                    oferecendo funcionalidades para a organização dos seus estudos.
                    Criar lembretes e um cronograma em sua agenda, gerenciar seu
                    tempo e criar metas para estudos: agora você pode fazer tudo isso em apenas um só
                    lugar.
                </p>
                <p>
                    Este projeto foi desenvolvido por estudantes do curso de Análise e
                    Desenvolvimento de Sistemas da Pontifícia Universidade Católica de
                    Minas Gerais (PUC Minas).
                </p>
            </div>
            <div class="row align-items-start text-center">
                <div class="box col-md">
                    <h2 class="mb-2">Equipe de desenvolvimento</h2>
                    <p>Ademir Colares dos Santos Junior</p>
                    <p>Ana Beatriz Leite de Souza</p>
                    <p>Israel Cunha Da Silva</p>
                    <p>Jefferson Freitas da Silva</p>
                    <p>Leonardo Júnio De Paula</p>
                </div>
                <div class="box col-md">
                    <h2 class="mb-2">Orientação</h2>
                    <p>Carlos Alberto Marques Pietrobon</p>
                </div>
            </div>
        </div>

        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">voltar</a>
    </section>

    <script src="https://kit.fontawesome.com/331a34d5ed.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>
</html>

