@using Microsoft.AspNetCore.Identity

@inject SignInManager<Aluno> SignInManager
@inject UserManager<Aluno> UserManager

@{
    ViewData["Title"] = "Studyset";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" asp-append-version="true" />
</head>
<body>
    <section id="indexContent" class="container justify-content-center">
        <h1>Dê um up nos seus estudos!</h1>
        <div class="row justify-content-center align-items-center">
            <div class="box col-md-3 mx-1 py-4">
                <h2>Gerencie seu tempo</h2>
                <img class="icon" src="/img/icon_Relogio.png" alt="" />
                <p>
                    Use o método pomodoro para ajudar na sua rotina de estudo diário
                </p>
            </div>
            <div class="box col-md-3 mx-1 py-4">
                <h2>Gerencie datas importantes</h2>
                <img class="icon" src="/img/icon_Agenda.png" alt="" />
                <p>Personalize sua agenda com datas importantes e receba lembretes</p>
            </div>
            <div class="box col-md-3 mx-1 py-4">
                <h2>Gerencie seu cronograma</h2>
                <img class="icon" src="/img/icon_Nota.png" alt="" />
                <p>Cadastre seu tempo disponível para estudo e crie cronogramas semanais</p>
            </div>
        </div>

        <a class="btn btn-primary btn-lg" id="register" asp-area="Identity" asp-page="/Account/Register">cadastre-se</a>
    </section>

</body>
</html>

